* {
    font-size: 18px;
}

.container {
    height: 100vh;
    width: 100vw;
    /* background-image: url("../bg.png"); */
    background: rgba(0,0,0,0.4);

}

h1 {
    font-size: 30px;
    margin-top: 0;
    padding: 0;
    color: rgb(0, 255, 0);
}

a {
    text-decoration: none;
    color: #fff;
}

a svg {
    font-weight: 700;
}

a:hover {
    color: red;
}

.box {
    height: 450px;
    width: 500px;
    background: rgba(123, 123, 123, 0.485);
    border: 1px solid gray;
    box-shadow: 5px 5px 10px rgb(166, 166, 166);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 25px;
    box-sizing: border-box;
}

small {
    color: rgb(137, 19, 1);
    font-size: 19px;
    font-weight: 600;
}

textarea {
    padding: 10px;
    box-sizing: border-box;
    height: 150px;
    width: 100%;
}

button {
    height: 50px;
    width: 120px;
    background: green;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}



@media screen and (max-width:500px) {
    .box {
        width: 100%;
    }
}